/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

form {

    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:25%;
    margin-left: 34%;
    text-align: center;
}


h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input, select, button {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


